name: DAST Demo Env

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  dast:
    runs-on: ubuntu-latest
    name: DAST on Prem Testing Action
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Create Output folder
        run: mkdir ${{ runner.temp }}/output
      - name: Change dir owner
        run: sudo chown -R 1000:1000 ${{ runner.temp }}/output
      - name: Run DAST-CLI command
        run: |
           docker run --pull=always \
           -e CX_APIKEY=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJkZDgyZWQ0OS1iMDdlLTQ1OWItYmU5ZS1jYTU4M2IyZjg4MTMifQ.eyJpYXQiOjE3NjYwNjExMzMsImp0aSI6IjhhMjNjN2U5LTM5NTUtNDVhMS05YTRmLTAzZDA1YzA5ZmJjOSIsImlzcyI6Imh0dHBzOi8vaWFtLWRldi5kZXYuY3hhc3QubmV0L2F1dGgvcmVhbG1zL2tpYXJhIiwiYXVkIjoiaHR0cHM6Ly9pYW0tZGV2LmRldi5jeGFzdC5uZXQvYXV0aC9yZWFsbXMva2lhcmEiLCJzdWIiOiI1MDRlOWMyOS01ZjAwLTQ4N2UtOWVhZC05Y2FhYzI1MDY1Y2IiLCJ0eXAiOiJPZmZsaW5lIiwiYXpwIjoiYXN0LWFwcCIsInNpZCI6IjkzYjNhOTViLTRiOWYtNGUwMy05ZTVhLTQ1MTJkMGZhZTNjNSIsInNjb3BlIjoiZW1haWwgcm9sZXMgcHJvZmlsZSBhc3QtYXBpIGdyb3VwcyBpYW0tYXBpIG9mZmxpbmVfYWNjZXNzIn0.3ZbaCs2bd6bJQ-COQcL09LetefGZ54TLf5f_gF_C-zNvBmew_dMTvc3NOvxvyMEUOvDLKk6qIEdqUb6dkb4IPA \
           checkmarx/dast:latest \
           scan \
           --environment-id=47370c7c-eff5-4ab1-8907-9cbb1b23390d \
           --base-url=https://ast-master-components.dev.cxast.net \
           --output=/tmp
           
      - name: Set permission on output folder
        run: |
         sudo chown -R 1001:1001 ${{ runner.temp }}/output
      - name: Upload ZAP output
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        if: always()
        with:
          name: zap-output
          path: ${{ runner.temp }}/output
